flows.json
[
    {
        "id": "789279ae30b30de6",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "773ae2c8cbb37324",
        "type": "ui_chart",
        "z": "789279ae30b30de6",
        "name": "",
        "group": "0ec580bbe7f88ca4",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 330,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "0c9c5cf5f85c9e0b",
        "type": "ui_gauge",
        "z": "789279ae30b30de6",
        "name": "",
        "group": "0ec580bbe7f88ca4",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 470,
        "y": 420,
        "wires": []
    },
    {
        "id": "441610830ea75648",
        "type": "debug",
        "z": "789279ae30b30de6",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 420,
        "wires": []
    },
    {
        "id": "57cda991bdf9aa80",
        "type": "inject",
        "z": "789279ae30b30de6",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"OCUPADA\":1,\"LIVRE\":0}",
        "payloadType": "json",
        "x": 390,
        "y": 100,
        "wires": [
            [
                "f44a6555f9bdffbf"
            ]
        ]
    },
    {
        "id": "f44a6555f9bdffbf",
        "type": "change",
        "z": "789279ae30b30de6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.LIVRE",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 200,
        "wires": [
            [
                "de258f56b3b4fe9f"
            ]
        ]
    },
    {
        "id": "9879e1a773af1ae1",
        "type": "mqtt in",
        "z": "789279ae30b30de6",
        "name": "",
        "topic": "arduino",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9b9d951a70d246ee",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 450,
        "y": 320,
        "wires": [
            [
                "441610830ea75648",
                "773ae2c8cbb37324",
                "0c9c5cf5f85c9e0b"
            ]
        ]
    },
    {
        "id": "de258f56b3b4fe9f",
        "type": "mqtt out",
        "z": "789279ae30b30de6",
        "name": "",
        "topic": "arduino",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9b9d951a70d246ee",
        "x": 460,
        "y": 260,
        "wires": []
    },
    {
        "id": "3068c671a7bd0325",
        "type": "inject",
        "z": "789279ae30b30de6",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"OCUPADA\":0,\"LIVRE\":1}",
        "payloadType": "json",
        "x": 690,
        "y": 100,
        "wires": [
            [
                "f44a6555f9bdffbf"
            ]
        ]
    },
    {
        "id": "0ec580bbe7f88ca4",
        "type": "ui_group",
        "name": "Default",
        "tab": "3636337a278271c9",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9b9d951a70d246ee",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3636337a278271c9",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
